[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SandeepMajety
[access "refs/for/refs/*"]
	read = group user/SandeepMajety
	push = group user/SandeepMajety
	label-Code-Review = -2..+2 group user/SandeepMajety
	label-Verified = -1..+1 group user/SandeepMajety
	rebase = group user/SandeepMajety
	removeReviewer = group user/SandeepMajety
	submit = group user/SandeepMajety
[access "refs/heads/*"]
	read = group user/SandeepMajety
	create = group user/SandeepMajety
	push = +force group user/SandeepMajety
	pushMerge = group user/SandeepMajety
[access "refs/tags/*"]
	push = +force group user/SandeepMajety
	pushTag = group user/SandeepMajety
	pushSignedTag = group user/SandeepMajety
